/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.table{
    background-color:midnightblue;
    color:white;
}

.table-header{
    color:yellow;
}

.table-football{
width:80%;
margin-left:10%;
}

.form-football{
    background-color:lightsteelblue;
}

.h1-football{
    margin-left:10%;
    color:darkblue;
}