/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.table{
    background-color:midnightblue;
    color:white;
}

.table-header{
    color:yellow;
}

.table-football{
width:80%;
margin-left:8%;
}

.form-football{
    background-color:lightsteelblue;
}

.h1-football{
    margin-left:17%;
    color:darkblue;
}

.h2-football{
    color:darkblue;
    text-align:center;
}

.h4-football{
    color:darkblue;
    text-align:center;
}

.glyphicon.glyphicon-home {
    font-size: 50px;
    color: darkblue;
}

.main-header{
    margin-left:10%;
    margin-bottom:20px;
    width:80%;
}

.football-menu{
    margin-bottom:10px;
}

.football-match-label{
    color:darkblue;
    text-align:left;
}

.football-spacer{
    padding-top:10px;
    padding-bottom:10px;
}

.football-player{
    text-align:left;
    padding-left:2px;
    font-size:small;
}

.football-row{
    border:2px solid black;
    margin-right:10px;
 }

.football-goal{
   text-align:left;
 }

.football-cell{
    margin-left:10px;
    margin-right:10px;
    padding-left:15px;
    padding-right:15px;
    font-size:small;
}