<h1 class="h1 h1-football">{{$ctrl.results.match.teams[0].name}} {{$ctrl.results.match.teams[0].score}} </h1>
<h1 class="h1 h1-football">{{$ctrl.results.match.teams[1].name}} {{$ctrl.results.match.teams[1].score}}</h1>
<h2 class="h2 h1-football">{{$ctrl.results.match.date}}</h2>
<h2 class="h2 h1-football">{{$ctrl.results.match.competition}}</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a class="glyphicon glyphicon-home football-menu" href="#/teams"></a>
        </div>
        <div class="col-md-11">
            <table class="table table-inverse table-condensed table-bordered text-left table-football">
                <thead class="table-header text-left">
                    <tr>
                        <th>{{$ctrl.results.match.teams[0].name}} </th>
                    </tr>
                </thead>
                <tr><td>Goals</td></tr>
                <tr ng-repeat="goal in $ctrl.results.match.teams[0].goals">
                    <td>{{goal.goal}}</td>
                </tr>
                <tr><td>Players</td></tr>
                <tr ng-repeat="player in $ctrl.results.match.teams[0].players">
                    <td>{{player.name}}</td>
                </tr>

            </table>
            <table class="table table-inverse table-condensed table-bordered text-left table-football">
                <thead class="table-header text-left">
                    <tr>
                        <th>{{$ctrl.results.match.teams[1].name}} </th>
                    </tr>
                </thead>
                <tr><td>Goals</td></tr>
                <tr ng-repeat="goal in $ctrl.results.match.teams[1].goals">
                    <td>{{goal.goal}}</td>
                </tr>
                <tr><td>Players</td></tr>
                <tr ng-repeat="player in $ctrl.results.match.teams[1].players">
                    <td>{{player.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
